/*Pseudo-selector*/
body::before{
    display:block;
    content: '';
    height: 60px;
}
/*Media query, if over min-width, make width 50%*/
@media(min-width: 768px){
    .news-input{
        width:50%
    }
}
a{
    text-decoration: none;
}